data/simulation/
data/cosmos/
data/healthy_subjects/
data/hemo/
data/old_hemo
data/phantom/
data/resfit
data/results
data/clinical_scoring
results/
total field/
archive/
figures/
text/MRM_mSMV
text/
code/mSMV_functions/archive